body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

code {
  font-family: "Montserrat";
}


/* posiciones */
.centered{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.bottom-centered{
text-align: center;
vertical-align: middle;
top: 60%;
min-height: 90vh;
}

/* sizes */

.f14{
  font-size: 14px;
}
.f16{
  font-size: 16px;
}
.f30{
  font-size: 30px;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat.regular.ttf");
}
@font-face {
  font-family: "Minecraft";
  src: url("./assets/fonts/Minecraft.ttf");
}
@font-face {
  font-family: "Alagard";
  src: url("./assets/fonts/alagard.ttf");
}